@using Pharma.Models
@model Pharma.Models.MovimentacaoEstoque

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MovimentacaoEstoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ItemPedidoId" class="control-label"></label>
                <select asp-for="ItemPedidoId" class="form-control" asp-items="ViewBag.ItemPedidoId"></select>
                <span asp-validation-for="ItemPedidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeProduto" class="control-label"></label>
                <input asp-for="QuantidadeProduto" class="form-control" />
                <span asp-validation-for="QuantidadeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimentacao" class="control-label"></label>
                <select asp-for="TipoMovimentacao" class="form-control"
                    asp-items="Html.GetEnumSelectList<TipoMovimentacao>()"></select>
                <span asp-validation-for="TipoMovimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMovimentacao" class="control-label"></label>
                <input asp-for="DataMovimentacao" class="form-control" type="date" />
                <span asp-validation-for="DataMovimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
