@model Pharma.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Produto</h1>


<hr />
<div class="row">
    <div >
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="d-flex gap-4" style="margin-bottom:24px">
                <div class="form-group w-100">
                    <label asp-for="UsuarioId" class="control-label"></label>
                    <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                    <span asp-validation-for="UsuarioId" class="text-danger"></span>
                </div>
                <div class="form-group w-100">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex gap-4" style="margin-bottom:24px">
                <div class="form-group w-100">
                    <label asp-for="LocalizacaoId" class="control-label"></label>
                    <select asp-for="LocalizacaoId" class="form-control" asp-items="ViewBag.LocalizacaoId"></select>
                    <span asp-validation-for="LocalizacaoId" class="text-danger"></span>
                </div>
                <div class="form-group w-100">
                    <label asp-for="NomeProduto" class="control-label"></label>
                    <input asp-for="NomeProduto" class="form-control" />
                    <span asp-validation-for="NomeProduto" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex gap-4 w-100">
                <div class="form-group w-100">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group w-100">
                    <label asp-for="DataCadastro" class="control-label"></label>
                    <input asp-for="DataCadastro" class="form-control" />
                    <span asp-validation-for="DataCadastro" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group d-flex gap-3" style="margin-top:32px">
                <input type="submit" value="Salvar" class="btn text-white py-2" style="background-color:#04828d; font-weight:700" />
                <a asp-action="Index" class="text-decoration-none btn px-3" style="background-color: #78787833">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
