@model Pharma.Models.Localizacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Localizacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLocalizacao" />
            <input type="hidden" asp-for="UsuarioId" />
            <div class="form-group">
                <label asp-for="NomeLocalizacao" class="control-label"></label>
                <input asp-for="NomeLocalizacao" class="form-control" />
                <span asp-validation-for="NomeLocalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoLocalizacao" class="control-label"></label>
                <input asp-for="DescricaoLocalizacao" class="form-control" />
                <span asp-validation-for="DescricaoLocalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <input asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
