@model Pharma.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Categoria</h1>

<h4>Tem certeza que deseja excluir essa categoria?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.AcessoUsuario)
        </dd>
    </dl>
    
    <form class="d-flex gap-3" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="text-decoration-none btn px-3" style="background-color: #78787833">Voltar</a>

    </form>
</div>
