@model Pharma.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Categoria</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.AcessoUsuario)
        </dd>
    </dl>
</div>
<div class="form-group d-flex gap-3" style="margin-top:32px">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn text-white py-2" style="background-color:#04828d; font-weight:700">Editar</a>
    <a asp-action="Index" class="text-decoration-none btn px-3" style="background-color: #78787833">Voltar</a>
</div>
