@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center" style="column-gap: 32px">
    <div>
        <h1 style="font-weight: 400; font-size:64px; color:#04828d">Nature <br /><span style="font-weight: 700;">Farmácia</span></h1>

        <p style="font-size:20px">Gerencie o estoque da sua farmácia, com uma interface intuitiva para facilitar a atualização do seu estoque conforme suas vendas.</p>
    </div>
    <img src="images/stock.svg" alt="Alternate Text" width="700px" />
</div>
